<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-between">
    <h1>SALON</h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><%= link_to "Home", root_path, method: :get, class: 'nav-link scrollto active'%></li>          
        <li><%= link_to "Services", services_path, method: :get, class: 'nav-link scrollto '%></li>
        <li><%= link_to "Portfolio", portfolio_path, method: :get, class: 'nav-link scrollto '%></li>
        <li><%= link_to "Team", team_path, method: :get, class: 'nav-link scrollto '%></li>
        <li class="dropdown"><a href="#"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link scrollto' %></li>
            <li><%= link_to "Edit", edit_user_path(current_user, id: current_user.id), method: :get, class: 'nav-link scrollto' %></li>
            <li><%= link_to "Delete", user_path(current_user), method: :delete, data: { confirm: "Are you sure?" }, class: 'nav-link scrollto' %></li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>

<section id="why-us" class="why-us" style="margin-top: 150px">
  <div class="container">
    <%if current_user.is_a?(Admin)%>
      <%if @visit.blank?%>
        <div class="col-lg-6 hero-img">
          <img src="/assets/theme/img/norecords.jpg" class="img-fluid" alt="">
        </div>
      <%else%>
        <div class="row">
          <%@all_visits.each do |visit|%>
          <% visit_email = User.find_by(id: visit.user_id).email %>
            <div class="col-lg-4">
              <div class="box">
                <span><%=visit.date%></span>
                <h4>Master name</h4>
                <p><%=visit_email%>: <%=visit.order%></p>
                <p><%=visit.addition%></p>
                <div class="row">
                  <%= link_to "Delete",
                    user_visit_path(@user, visit),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: 'text-info'
                  %>
                  <%= link_to "Edit",
                    edit_user_visit_path(@user, id: visit.id),
                    method: :get,
                    class: 'text-info'
                  %>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      <%end%>
    <%else%>
      <%if @visit.blank?%>
        <div class="col-lg-6 hero-img">
          <img src="/assets/theme/img/norecords.jpg" class="img-fluid" alt="">
        </div>
      <%else%>
        <div class="row">
          <%@visits.each do |visit|%>
            <div class="col-lg-4">
                <p><%=visit.addition%></p>
                <div class="row">
              <div class="box">
                <span><%=visit.date%></span>
                <h4>Master name</h4>
                <p><%=visit.order%></p>
                  <%= link_to "Delete",
                    user_visit_path(@user, visit),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: 'col-sm text-info'
                  %>
                  <%= link_to "Edit",
                    edit_user_visit_path(@user, id: visit.id),
                    method: :get,
                    class: 'col-sm text-info'
                  %>
                </div>
              </div>            
            </div>        
          <%end%>
        </div>
      <%end%>
    <%end%>
  </div>
</section>