<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-between">
    <h1>SALON</h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><%= link_to "Home", root_path, method: :get, class: 'nav-link scrollto active'%></li>          
        <li><%= link_to "Services", services_path, method: :get, class: 'nav-link scrollto '%></li>
        <li><%= link_to "Portfolio", portfolio_path, method: :get, class: 'nav-link scrollto '%></li>
        <li><%= link_to "Team", team_path, method: :get, class: 'nav-link scrollto '%></li>
        <li class="dropdown"><a href="#"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link scrollto' %></li>
            <li><%= link_to "Edit", edit_user_path(current_user, id: current_user.id), method: :get, class: 'nav-link scrollto' %></li>
            <li><%= link_to "Delete", user_path(current_user), method: :delete, data: { confirm: "Are you sure?" }, class: 'nav-link scrollto' %></li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>

<section id="why-us" class="why-us" style="margin-top: 150px">
  <div class="container">
    <%if current_user.is_a?(Admin)%>
      <div class="row">
        <%@all_visits.each do |visit|%>
        <% visit_email = User.find_by(id: visit.user_id).email %>
          <div class="col-lg-4">
            <div class="box" style="text-align: center">
              <span ><%=visit.date%></span>
              <div class="row">
                <div class="col-md-7">
                  <span><%=visit.state%></span>
                </div>
                <div class="col-md-5">
                  <%if visit.state != 'done'%>
                    <span>
                      <%= link_to "confirm",
                        change_status_path(visit_id: visit.id),
                        method: :put,
                        class: 'text-info'
                      %>
                    </span>                    
                  <%end%> 
                </div>
              </div>
              <p><%=visit_email%>: <%=visit.order%></p>
              <p><%=visit.addition%></p>
              <div class="row">
                <div class="col-md-6">
                  <%= link_to "Delete",
                    user_visit_path(@user, visit),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: 'col-sm text-info'
                  %>
                </div>
                <div class="col-md-6">
                  <%= link_to "Edit",
                    edit_user_visit_path(@user, id: visit.id),
                    method: :get,
                    class: 'col-sm text-info'
                  %>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    <%else%>
      <div class="row">
        <%@visits.each do |visit|%>
          <div class="col-lg-4">
            <p><%=visit.addition%></p>
            <div class="row">
              <div class="box">
                <span><%=visit.date%></span>
                <span><%=visit.state%></span>
                <p><%=visit.order%></p>
                <div class="row">
                  <div class="col-md-6">
                    <%= link_to "Delete",
                      user_visit_path(@user, visit),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: 'col-sm text-info'
                    %>
                  </div>
                  <div class="col-md-6">
                    <%= link_to "Edit",
                      edit_user_visit_path(@user, id: visit.id),
                      method: :get,
                      class: 'col-sm text-info'
                    %>
                  </div>
                </div>
              </div>
            </div>            
          </div>        
        <%end%>
      </div>
    <%end%>
  </div>
</section>