<section id="why-us" class="why-us" style="margin-top: 150px">
  <div class="container">
    <div class="row">
      <%if @visits.any?%>
        <%@visits.each do |visit|%>
          <div class="col-lg-4">
            <div class="row">
              <div class="box">
                <span><%=visit.order%></span>
                <span>Status: <%=visit.state%> Cost: цена$</span>
                <p>Date: <%=visit.date.strftime("%H:%m %d/%m/%Y")%></p>
                <p><%=visit.addition%></p>
                
                <div class="row">
                  <%if visit.state == "sent" %>
                    <div class="col-md-6">
                      <%= link_to "Edit",
                        edit_client_visit_path(@client, id: visit.id),
                        method: :get,
                        class: 'col-sm text-info'
                      %>
                    </div>
                  <%end%>
                  <div class="col-md-6">
                    <%= link_to "Delete",
                      client_visit_path(@client, visit),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: 'col-sm text-info'
                    %>
                  </div>
                </div>
              </div>
            </div>            
          </div>        
        <%end%>
      <%else%>
        <h4>Empty(</h4>
      <%end%>
    </div>
  </div>
</section>
