 <section id="visit" class="visit section-bg" style="margin-top: 150px">
  <div class="container">
    <div class="section-title">
      <h2>Visit</h2>
      <p>Send a request to visit the salon to our administration. You will receive an answer shortly.</p>
    </div>
    <div>
      <div class="col-lg-12">
        <%= form_with url: client_visits_path(@client), class: "php-email-form", model:  @client.visits.build  do |form| %>
          <div class="row">
            <div class="col-md-3 form-group">
              <%if current_user.is_a?(Admin)%>
                <input type="text" name="client_email" class="form-control" placeholder="Enter email" required="true" />
              <%else%>
                <input type="text" name="client_email" class="form-control" readonly="true" value=<%=@client.email%> required="true" />
              <%end%>
            </div>
            <div class="col-md-3 form-group">
              <%= form.text_field :date, class: "form-control", type: "datetime-local", value: "yyyy-mm-ddThh:mm:ss", required: true %>
            </div>
            <div class="col-md-3 form-group">
              <select class="form-select" aria-label="Default select example" name="visit[master_id]" id="masters" required="true">
                <% @masters.each do |m| %>
                  <option value=<%= m.id %>>
                    <%= m.full_name %>
                  </option>
                <% end %>
              </select>
            </div>
            <div class="col-md-3 form-group">
              <%= form.collection_select "service_visit_attributes[service_id]", Service.all, :id, :master_service, {},  {class: "form-select", aria_label: "Default select example", required: true }%>
              
            </div>
          </div>

          <div class="form-group mt-3">
            <%= form.text_area :addition, class: "form-control", placeholder: "If you want enter your wishes or preferred master" %>
          </div>

          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        <% end %>
      </div>
    </div>
  </div>
</section>