<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-between">
    <h1><%= link_to "SALON", root_path, method: :get, class: 'nav-link scrollto '%></h1>
    <nav id="navbar" class="navbar">
      <ul>
          <li class="dropdown"><a href="#"><span><%= t 'index.home' %></span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><%= link_to "Home", root_path, method: :get, class: 'nav-link scrollto '%></li>
              <li><%= link_to "Add visit", new_user_visit_path(@current_user), method: :get, class: 'nav-link scrollto ' %></li>
              <%if @current_user.is_a?(Admin)%>
                <li><%= link_to "All visits", user_visits_path(@current_user), method: :get, class: 'nav-link scrollto ' %></li>
                <li><%= link_to "Clients list", clients_path(), method: :get, class: 'nav-link scrollto ' %></li>
              <%else%>
                <li><%= link_to "My visits", user_visits_path(@current_user), method: :get, class: 'nav-link scrollto ' %></li>
              <%end%>
            </ul>
          </li>
          <li><%= link_to "Services", services_path, method: :get, class: 'nav-link scrollto '%></li>
          <li><%= link_to "Portfolio", portfolio_path, method: :get, class: 'nav-link scrollto '%></li>
          <li><%= link_to "Team", team_path, method: :get, class: 'nav-link scrollto '%></li>
          <li class="dropdown"><a href="#"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link scrollto' %></li>
              <li><%= link_to "Edit", edit_user_path(current_user, id: current_user.id), method: :get, class: 'nav-link scrollto' %></li>
              <li><%= link_to "Delete", user_path(current_user), method: :delete, data: { confirm: "Are you sure?" }, class: 'nav-link scrollto' %></li>
            </ul>
          </li>
        </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>

<section id="why-us" class="why-us" style="margin-top: 150px">
    <div class="container">
        <div class="row">
            <div class="row">
                <%@clients.each do |client|%>
                    <div class="col-lg-4">
                        <div class="box" style="text-align: center">
                            <span><%=client.first_name%> <%=client.last_name%></span>
                            <p><%=client.email%></p>
                            <span><%=client.phone_number%></span>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</section>
