 <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1><%= link_to "SALON", root_path, method: :get, class: 'nav-link scrollto '%></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>Home</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><%= link_to "Home", root_path, method: :get, class: 'nav-link scrollto '%></li>
              <li><%= link_to "Add visit", new_user_visit_path(@user), method: :get, class: 'nav-link scrollto ' %></li>
              <%if @current_user.is_a?(Admin)%>
                <li><%= link_to "All visits", user_visits_path(@current_user), method: :get, class: 'nav-link scrollto ' %></li>
                <li><%= link_to "Clients list", clients_path(), method: :get, class: 'nav-link scrollto ' %></li>
              <%else%>
                <li><%= link_to "My visits", user_visits_path(@user), method: :get, class: 'nav-link scrollto ' %></li>
              <%end%>
            </ul>
          </li>
          <li><%= link_to "Services", services_path, method: :get, class: 'nav-link scrollto '%></li>
          <li><%= link_to "Portfolio", portfolio_path, method: :get, class: 'nav-link scrollto '%></li>
          <li><%= link_to "Team", team_path, method: :get, class: 'nav-link scrollto '%></li>
          <li class="dropdown"><a href="#"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link scrollto' %></li>
              <li><%= link_to "Edit", edit_user_path(current_user, id: current_user.id), method: :get, class: 'nav-link scrollto' %></li>
              <li><%= link_to "Delete", user_path(current_user), method: :delete, data: { confirm: "Are you sure?" }, class: 'nav-link scrollto' %></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>The best in each of you</h1>
          <ul>
            <li><i class="ri-check-line"></i> The best hairdressers</li>
            <li><i class="ri-check-line"></i> Quality and service</li>
            <li><i class="ri-check-line"></i> Price and your time</li>
          </ul>
          <div class="mt-3">
            <span class="btn-get-started scrollto"><%= link_to "Add visit", new_user_visit_path(@user), method: :get, class: 'text-white' %></span>
            <%if @current_user.is_a?(Admin)%>
              <span class="btn-get-started scrollto"><%= link_to "All visits", user_visits_path(@user), method: :get, class: 'text-white'%></span>
            <%else%>
              <span class="btn-get-started scrollto"><%= link_to "My visits", user_visits_path(@user), method: :get, class: 'text-white' %></span>
            <%end%>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="assets/theme/img/hero-img.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
  
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Is there parking nearby? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Unfortunately there is no parking nearby.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Is washing your hair included in the price of a haircut? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Yes, the haircut price includes washing and styling.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">How long does the lamination effect last? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                The lamination effect lasts from 3 to 6 weeks. The composition is washed off from the hair gradually, while the repeated procedure is possible before the end of the previous procedure.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">How and where can i buy a gift certificate? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                It is possible to purchase in any of our salons or order the delivery of a certificate
              </p>
            </div>
          </li>
        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Template Main JS File -->
  <script src="assets/theme/js/main.js"></script>