<h1>Users</h1>

<%if current_user%>
  <h1><%=current_user.last_name%> <%=current_user.first_name%>'s session | 
    <%= link_to "SIGN_OUT",
      destroy_user_session_path,
      method: :delete
    %>
  </h1>
  <br/>
<%end%>

<ul>
  <%if current_user.is_a?(Admin)%>
    <%@users.each do |user|%>
      <li><%= link_to "#{user.last_name} #{user.first_name.first}.(#{user.type})",
        user_path(user),
        method: :get
        %>
      </li>

      <li><%= link_to "Delete",
          user_path(user),
          method: :delete,
          data: { confirm: "Are you sure?" }
        %> 
        &#128465; &nbsp;
        <%= link_to "Edit",
          edit_user_path(user, id: user.id),
          method: :get 
        %>
        &#9997;
      </li>
      <br/>
    <%end%>
  <%else%>
    <li><%= link_to "#{current_user.last_name} #{current_user.first_name.first}.(#{current_user.type})",
      user_path(current_user),
      method: :get
      %>
    </li>

    <li><%= link_to "Delete",
        user_path(current_user),
        method: :delete,
        data: { confirm: "Are you sure?" }
      %> 
      &#128465; &nbsp;
      <%= link_to "Edit",
        edit_user_path(current_user, id: current_user.id),
        method: :get 
      %>
      &#9997;
    </li>
  <%end%>
</ul>