<h1>Me</h1>
<ul>
    <li><%=@me.first_name%></li>
    <li><%=@me.last_name%></li>
    <li><%=@me.email%></li>
    <li><%=@me.phone_number%></li>
    <li><%= link_to "return to users page",
        users_path,
        method: :get%>
    </li>
</ul>