<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-between">
    <h1><%= link_to "SALON", root_path, method: :get, class: 'nav-link scrollto '%></h1>
    <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>Home</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><%= link_to "Home", root_path, method: :get, class: 'nav-link scrollto '%></li>
                <li><%= link_to "Add visit", new_user_visit_path(@current_user), method: :get, class: 'nav-link scrollto ' %></li>
              <%if @current_user.is_a?(Admin)%>
                <li><%= link_to "All visits", user_visits_path(@current_user), method: :get, class: 'nav-link scrollto ' %></li>
                <li><%= link_to "Clients list", clients_path(), method: :get, class: 'nav-link scrollto ' %></li>
              <%else%>
                    <li><%= link_to "My visits", user_visits_path(@current_user), method: :get, class: 'nav-link scrollto ' %></li>
                <%end%>
            </ul>
          </li>
          <li><%= link_to "Services", services_path, method: :get, class: 'nav-link scrollto '%></li>
          <li><%= link_to "Portfolio", portfolio_path, method: :get, class: 'nav-link scrollto '%></li>
          <li><%= link_to "Team", team_path, method: :get, class: 'nav-link scrollto '%></li>
          <li class="dropdown"><a href="#"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link scrollto' %></li>
              <li><%= link_to "Edit", edit_user_path(current_user, id: current_user.id), method: :get, class: 'nav-link scrollto' %></li>
              <li><%= link_to "Delete", user_path(current_user), method: :delete, data: { confirm: "Are you sure?" }, class: 'nav-link scrollto' %></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>

<section id="portfolio" class="portfolio" style="margin-top: 50px">
    <div class="container">
    <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
            <img src="assets/theme/img/portfolio/10.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>Coloring</h4>
            <div class="portfolio-links">
                <a href="assets/theme/img/portfolio/10.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
            <img src="assets/theme/img/portfolio/5.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>Hairstyle</h4>
            <div class="portfolio-links">
                <a href="assets/theme/img/portfolio/5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
            <img src="assets/theme/img/portfolio/3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>Haircut</h4>
            <div class="portfolio-links">
                <a href="assets/theme/img/portfolio/3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
            <img src="assets/theme/img/portfolio/4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>Children Haircut</h4>
            <div class="portfolio-links">
                <a href="assets/theme/img/portfolio/4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
            <img src="assets/theme/img/portfolio/2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>Men Haircut</h4>
            <div class="portfolio-links">
                <a href="assets/theme/img/portfolio/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
            <img src="assets/theme/img/portfolio/6.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>Children Haircut</h4>
            <div class="portfolio-links">
                <a href="assets/theme/img/portfolio/6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
            <img src="assets/theme/img/portfolio/7.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>Hairstyle</h4>
            <div class="portfolio-links">
                <a href="assets/theme/img/portfolio/7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
            <img src="assets/theme/img/portfolio/8.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>Hairstyle and Coloring</h4>
            <div class="portfolio-links">
                <a href="assets/theme/img/portfolio/8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
            <img src="assets/theme/img/portfolio/1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>Lamination</h4>
            <div class="portfolio-links">
                <a href="assets/theme/img/portfolio/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>