<h1>Users#show |
  <%= link_to "return to users page",
    users_path,
    method: :get
  %>
</h1>

<ul>
    <li><%=@user.first_name%></li>
    <li><%=@user.last_name%></li>
    <li><%=@user.email%></li>
    <li><%=@user.phone_number%></li>
</ul>