<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-between">
    <h1>SALON</h1>
    <nav id="navbar" class="navbar">
        <ul>
            <li><%= link_to "Home", root_path, method: :get, class: 'nav-link scrollto active'%></li>          
            <li><%= link_to "Services", services_path, method: :get, class: 'nav-link scrollto '%></li>
            <li><%= link_to "Portfolio", portfolio_path, method: :get, class: 'nav-link scrollto '%></li>
            <li><%= link_to "Team", team_path, method: :get, class: 'nav-link scrollto '%></li>
            <li class="dropdown"><a href="#"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link scrollto' %></li>
                <li><%= link_to "Edit", edit_user_path(current_user, id: current_user.id), method: :get, class: 'nav-link scrollto' %></li>
                <li><%= link_to "Delete", user_path(current_user), method: :delete, data: { confirm: "Are you sure?" }, class: 'nav-link scrollto' %></li>
            </ul>
            </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
<section id="team" class="team section-bg" style="margin-top: 50px">
    <div class="container">

        <div class="section-title">
            <h2>Team</h2>
            <p>Our friendly team consists of experienced professionals in their field. They are certified participants in international master classes. Winners of prestigious competitions and courses. They will definitely make all your wishes and dreams come true.</p>
        </div>

        <div class="row">
        <% @masters.each do |master|%>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/theme/img/team/team-1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4><%= master.name%></h4>
                        <span> <%= master.phone_number %></span>
                        <span> <%= master.rank %></span>
                    </div>
                </div>
            </div>
            <%end%>
        </div>
    </div>
</section>