<!DOCTYPE html>
<html>
  <head>
    <title>Saloon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Resi Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/theme/img/favicon.png" rel="icon">
    <link href="/assets/theme/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/theme/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/theme/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/theme/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/theme/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/theme/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/theme/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Resi - v4.3.0
    * Template URL: https://bootstrapmade.com/resi-free-bootstrap-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header id="header" class="fixed-top ">
      <div class="container d-flex align-items-center justify-content-between">
        <h1><%= link_to "SALON", root_path, method: :get, class: 'nav-link scrollto '%></h1>
        <nav id="navbar" class="navbar">
          <ul>
              <% if current_user%>
                <li class="dropdown"><a href="#"><span>Visits</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><%= link_to "Add visit", new_client_visit_path(current_user), method: :get, class: 'nav-link scrollto ' %></li>
                      <%if current_user.is_a?(Admin)%>
                        <li><%= link_to "All visits", client_visits_path(current_user), method: :get, class: 'nav-link scrollto ' %></li>
                        <li><%= link_to "Clients list", clients_path(), method: :get, class: 'nav-link scrollto ' %></li>
                      <%else%>
                        <li><%= link_to "My visits", client_visits_path(current_user), method: :get, class: 'nav-link scrollto ' %></li>
                      <%end%>
                  </ul>
                </li>
              <%end%>
              <li><%= link_to "Services", services_path, method: :get, class: 'nav-link scrollto '%></li>
              <li><%= link_to "Portfolio", portfolio_path, method: :get, class: 'nav-link scrollto '%></li>
              <li><%= link_to "Team", team_path, method: :get, class: 'nav-link scrollto '%></li>
              <% if current_user%>
                <li class="dropdown"><a href="#"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link scrollto' %></li>
                    <li><%= link_to "Edit", edit_client_path(current_user, id: current_user.id), method: :get, class: 'nav-link scrollto' %></li>
                    <li><%= link_to "Delete", client_path(current_user), method: :delete, data: { confirm: "Are you sure?" }, class: 'nav-link scrollto' %></li>
                  </ul>
                </li>
              <%end%>
            </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>

      <!-- flash notifications -->    
      <% logger.info("flash => #{flash.keys}") %>
      <% flash.each do |type, msg| %>
        <div style="margin-top: 50px" class='alert alert-primary' role='alert'>
          <%= msg %>
        </div>
      <% end %>    
    <!-- End flash notifications --> 
    <%= yield%>
  </body>
</html>
